<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="EXPIRE" content="-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	
	<!-- 개발용 -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	
	<!-- 배포용
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	-->
	
	<!-- <link rel="icon" href="res/favicon.ico"> -->
    <link rel="stylesheet" href="style.css?v=2020_08_01">
	
	
	
	
    <title>wonjin Lab :: Vue Playground</title>
</head>

<body>
	<nav>
		<a href="../">back to wonjinLab</a>
	</nav>
	
	<header>
		
	</header>
	

	<article>
		<div id="app">
			{{ message }}
		</div>
		
		<div id="app-2">
			<span v-bind:title="message">
				퇴근하고싶다.
			</span>
		</div>
		
		<div id="app-3">
			<p v-if="seen">lnx적분하고싶다</p>
		</div>
		
		<div id="app-4">
			<ol>
				<li v-for="todo in todos">
					{{ todo.text }}
				</li>
			</ol>
		</div>
		
		<div id="app-5">
			<p>{{ message }}</p>
			<button v-on:click="reverseMessage">
				메시지 뒤집기
			</button>
		</div>
		
		<div id="app-6">
			<p>{{ message }}</p>
			<input v-model="message">
		</div>
		
		<div id="app-7">
			<todo-item v-for="item in groceryList"
					   v-bind:todo="item"
					   v-bind:key="item.id"></todo-item>
		</div>
		
		<div id="app-8" v-on:click="appendNemo">
			<p > {{ text }} </p>
		</div>
		
	</article>
	
	<script type="text/javascript" src="index.js?v=2020_08_01"></script>
	
</body>