@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body {
    font-family: 'Nanum Gothic', sans-serif;
	margin:0;
}

header {
	text-align : center;
}

h2 {
	margin : 0;
}

.main-container {
	display : flex;
	justify-content : center;
	
	margin : 20px 0;
	align-items : center;
}

.cell{
	display : flex;
	flex-direction : column;
	justify-content : center;
	text-align : center;
	
	padding : 10px;
	margin : 10px;
	min-width : 200px;
	max-width : 200px;
	min-height : 200px;

	border : 2px solid #737373;
	border-radius : 20px;
	
	transition : all 0.5s;
}
.cell:hover {
	background-color : #d1d1d1;
}

@media (max-width:769px){
	.main-container{
		flex-direction : column;
	}
}