@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body {
    font-family: 'Nanum Gothic', sans-serif;
    
}
h1 { margin : 0;}
article {
	display : flex;
	justify-content : center;
	align-items : center;
}
article a{
	font-size : 30px;
}
table{
	margin : 0;
	border-color : #ebebeb;
	border-style : solid;
	background-color : #ebebeb;
	border-width : 1px;
}

td{
	width : 20px;
	height : 20px;
	background-color : #d1d1d1;

}
.snakehead{
	background-color : #000000;

}
.snakebody{
	background-color : #4a4a4a;
	transition : all 1s;
}

.food{
	background-color : #ffbf00;
	transition : all 1s;
}

#score_board{
	margin : 50px;
	text-align : center;
}
#score{
	margin : 0;
	font-size : 50px;
}

#onscreen_keyboard{
	display : none;
}
.key {
	
	padding : 20px;
	border-radius : 10px;
	background-color : #f0f0f0;
}

.move{
	display : flex;
	flex: 1 0 auto;
	flex-direction : column;
	align-items : center;
}
.move div{
	display : flex;
}

#submit_btn{
	
	border-style : solid;
	
	cursor : pointer;
	margin-left : 5px;
	padding : 5px;
}




@media (max-width:769px){
	article {
		flex-direction: column;
	}
	#onscreen_keyboard {
		flex: 1 0 0px;
		display : flex;
		align-items: center;
		width: 100%;
		box-sizing: border-box;
		padding : 50px;
	
	text-align : center;
		padding: 20px;
	}
	td {
		height: 12px;
	}
	#score_board {
		margin: 10px;
	}
	#score{
		font-size : 0px;
	}
	.key {
		padding: 14px;
	}
	#field p{
		font-size : 12px;
		font-weight : bold;
		margin : 0;
	}
}