@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

html{
	height : 100%;
}
body{
    font-family: 'Nanum Gothic', sans-serif;
	position : absolute;
	margin : 0;
	width : 100%;
	height : 100%;
	overflow: hidden
}
a{
	text-decoration : none;
	color : white;
	z-index : 101;
}



/* for block */
#blockContainer{
	position : relative;
	width : 100%;
	height : 100%;
	text-align : center;
}
.block{
	position : absolute;
	width : 100%;
	height : 10%;
}
.block:hover{
	filter : brightness(0.8); 
}
.bun	{ background-color : #ff9500; }
.patty	{ background-color : #854d00; }
.sauce	{ background-color : #fffbe0; }
.lettuce{ background-color : #54b500; }
.cheese	{ background-color : #ffdd00; }
.empty	{ background-color : #2F3336; }

/* for mobile browser */
@media (max-width:769px){
	.main-container{
		flex-direction : column;
	}
}